.btn-facebook{
    background-color: #3b5998 !important;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100%;
    max-width: 400px;

    .icon{
        margin-right: 10px;
        font-size: smaller;
    }

    &:hover{
        background-color: #2d4373 !important;
    }
}