.card-wrapper {
    background-color: var(--primary) !important;
}

.card-left{
    background-color: transparent !important;
    color: var(--black);
}

.card-right{
    color: var(--textColorPrimary);
}

.user-info-wrapper{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 50px;
}

.user-info-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 20px 5px 0px;

    &:not(:last-child){
        margin-bottom: 10px;
    }

    &:hover{
        background-color: var(--colorBGHover);
        border-radius: 10px;
    }
}

.icon-wrapper{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--darker-primary);

    
}

.text-wrapper{
    font-weight: 700;
}

.social-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-right: 20px;
   
    a{
        color: var(--black) !important;
    }
}

.social-item{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    &:not(:last-child){
        margin-right: 20px;
    }

    &:hover{
        background-color: var(--colorBGHover);
        border-radius: 10px;
    }
}

