.wrapper{
    height:100%;
    width:100%;
}

.sidebar-item{
    display:block;
}

@media screen and (max-width: 767px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}
